USE [CHUNGKHOAN]
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_LENHDAT]    Script Date: 4/17/2022 10:30:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_LENHDAT] ON [dbo].[LENHDAT]
AFTER INSERT AS
SET DATEFORMAT DMY
DECLARE @IID INT SET @IID = (select ID from inserted)
DECLARE @IMACP NCHAR(7) SET @IMACP = (SELECT MACP FROM inserted)
DECLARE @INGAY NVARCHAR(10) SET @INGAY = (SELECT CONVERT(NVARCHAR(10),(SELECT NGAYDAT FROM inserted),103))
DECLARE @ILOAIGD NCHAR(1) SET @ILOAIGD = (SELECT LOAIGD FROM inserted)
DECLARE @ISOLUONG INT SET @ISOLUONG = (SELECT SOLUONG FROM inserted)
DECLARE @IGIADAT FLOAT SET @IGIADAT = (SELECT GIADAT FROM inserted)
EXEC SP_KHOPLENH_LO @iddat = @IID, @macp = @IMACP, @Ngay = @INGAY, @LoaiGD = @ILOAIGD, @soluongMB = @ISOLUONG, @giadatMB = @IGIADAT